@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

.log{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #DCDCDD;
    color: #46494C;
    border: 1px solid #46494C;
    justify-items: center;

    .log__button{
        padding: 5px;
        width: 100%;
        color: #1985A1;
        background-color: #4C5C68;
        font-size: large;
        font-weight: 800;
        border-radius: 2px;
        border: 2px solid #4C5C68;
    }
}

@media screen and (min-width: 768px) {
    .log{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
  }